label{
    margin-right: 5px;
    font-weight: bold;
}
.card{
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 margin-top: 10px;
 margin-bottom: 10px;
 padding-bottom: 10px;
 padding-top: 20px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
input, text{
    border-radius: 5px;
    outline-color: rgb(110, 202, 202);
}

button{
    width: 20%;
}
table{
        width: 100%;    
        border-collapse: collapse;
        border-radius: 5px;
        overflow: hidden;
        border: #131212;
        box-shadow: 0 4px 8px 0 rgba(173, 136, 136, 0.2);
        margin-top: 20px;   
        margin-bottom: 20px;
        background-color: #9d73e0;
        border: 1px solid #131212;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 1.6;
}
    
     th,td {
        padding: 10px;
        text-align: left;
         border-bottom: 1px solid #131212; 
     font-size: large;
    }
    th {
        background-color: #e2e6aa;
        font-weight: bold;
        border: 1px solid #131212;
    }
 
  .table-group-divider {
    border-top: 2px solid #131212;
    background-color: #8f7beb;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px;

  } 

