<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <!-- Left: Login Button -->
    <a class="btn btn-outline-dark me-3" href="#">Login</a>

    <!-- Center: Navigation Buttons -->
    <div class="mx-auto d-flex gap-2">
      <a class="btn btn-outline-dark active" href="#">Directive</a>
      <a class="btn btn-outline-dark" href="#">Pipe</a>
      <a class="btn btn-outline-dark" href="#">RFM</a>
      <a class="btn btn-outline-dark" href="#">TDF</a>
      <a class="btn btn-outline-dark" href="#">Products</a>
    </div>

    <!-- Right: Project Name -->
    <span class="navbar-text text-black fw-bold fs-5">
      Monster
    </span>

  </div>
</nav>

