<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <div class="container-fluid">

    <!-- Left: Login Button -->
    <a class="btn btn-outline-dark me-3" routerLink="/login">Login / Register</a>

    <!-- Center: Navigation Buttons -->
    <div class="mx-auto d-flex gap-2">
      <a class="btn btn-outline-dark active" routerLink="/directives">Directive</a>
      <a class="btn btn-outline-dark" routerLink="/assignments">Assignments</a>
      <a class="btn btn-outline-dark" routerLink="/directive-two">Product</a>
       <a class="btn btn-outline-dark" routerLink="/RFM">RFM</a>
      <a class="btn btn-outline-dark" routerLink="/allProduct">All Product</a>
      <!-- <a class="btn btn-outline-dark" routerLink="#">TDF</a> -->
      <!-- <a class="btn btn-outline-dark" routerLink="/">Products</a> -->
    </div>

    <!-- Right: Project Name -->
    <span class="navbar-text text-black fw-bold fs-5">
      Monster
    </span>

  </div>
</nav>

